# Data
data/raw/
data/processed/

# Notebooks
.ipynb_checkpoints/
*.ipynb_checkpoints

# Python
__pycache__/
*.pyc
.venv/
env/

# Models
models/
*.pkl
*.joblib
*.h5
*.onnx

# Azure ML
azureml-logs/
outputs/
mlruns/

# Logs
*.log
logs/

# Environment variables
.env

# OS
.DS_Store
